flows/flows_2021-03-26.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"880e9472.799ce8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":120,"wires":[]},{"id":"a78b7fe7.edf1","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"yolo","qos":"2","datatype":"auto","broker":"8ef227a2.505758","x":70,"y":240,"wires":[["6156408a.bb2e"]]},{"id":"6156408a.bb2e","type":"split","z":"f6f2187d.f17ca8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":240,"wires":[["877cdcd7.e452a"]]},{"id":"877cdcd7.e452a","type":"join","z":"f6f2187d.f17ca8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":240,"wires":[["ccfea956.b60d28","7a29cce0.3f2824","880e9472.799ce8"]]},{"id":"30b45c42.423044","type":"join","z":"f6f2187d.f17ca8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":360,"wires":[["5fc35784.bef9e8"]]},{"id":"5fc35784.bef9e8","type":"ui_table","z":"f6f2187d.f17ca8","group":"1f895df4.3f3762","name":"","order":1,"width":10,"height":10,"columns":[],"outputs":0,"cts":false,"x":990,"y":360,"wires":[]},{"id":"2be11dcb.2e9942","type":"template","z":"f6f2187d.f17ca8","name":"","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"Name of objects\": \"{{payload.name}}\",\n    \"State\": \"{{payload.state}}\",\n    \"Time\": \"{{payload.time}}\",\n    \"ID\": \"{{payload.id}}\"\n}","output":"json","x":700,"y":360,"wires":[["30b45c42.423044"]]},{"id":"ccfea956.b60d28","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"payload.state","pt":"msg","to":"payload[1]","tot":"msg"},{"t":"set","p":"payload.time","pt":"msg","to":"$fromMillis($millis(),'[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]','+0900')\t","tot":"jsonata"},{"t":"set","p":"payload.id","pt":"msg","to":"payload[2]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["2be11dcb.2e9942"]]},{"id":"1339609.4195d9f","type":"e-mail","z":"f6f2187d.f17ca8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"nvclvmacnica@gmail.com","dname":"","x":870,"y":240,"wires":[]},{"id":"6f7b54.dbd6b4ac","type":"function","z":"f6f2187d.f17ca8","name":"メール作成","func":"msg.topic = '忘れ物'\nmsg.payload = '現在の忘れ物は'+ msg.payload + 'です。'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":240,"wires":[["1339609.4195d9f"]]},{"id":"7a29cce0.3f2824","type":"function","z":"f6f2187d.f17ca8","name":"object","func":"a = msg.payload\nvar msgnew = {payload: a[0]}\nreturn msgnew;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":240,"wires":[["6f7b54.dbd6b4ac"]]},{"id":"8ef227a2.505758","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f895df4.3f3762","type":"ui_group","name":"wasuremono","tab":"4dee4bed.cb6a14","order":3,"disp":true,"width":10,"collapse":false},{"id":"4dee4bed.cb6a14","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false}]